.form-contanier {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-contanier h2 {
  text-align: center;
  margin-bottom: 20px;
}

error-text {
  color: red;
  font-size: 0.9em;
}
